@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik+Wet+Paint&display=swap');


:root{
  --green : #44D62C;
  --teal: #045c5c;
}


body{
  font-family: 'Poppins', sans-serif;
}
.spinner-full{
  height: 90vh;
}

.page-body{
  min-height: 90vh;
}

.bg-teal{
  background: var(--teal);
}
.color-green{
  color: var(--green);
}


.btn-page{
  background: transparent;
  color: var(--teal);
}
.btn-page-selected{
  background: var(--teal) !important;
  color: white;
}
.swal-text{
  text-align: center;
}



  
